<% form_for([@user, @training]) do |f| %>
	<%= f.error_messages %>
	
	<p>
		<%= f.label :date, t("activerecord.attributes.training.date") %><br />
		<%= f.date_select :date %>
	</p>
	
	<% f.fields_for :note, (@training.note.blank? ? @training.build_note : @training.note) do |builder| %>
		<p>
			<%= builder.label :content, t("activerecord.models.note.one") %><br />
			<%= builder.text_area :content, :rows => 4 %>
		</p>
	<% end %>
	
	<% f.fields_for :races do |builder| %>
		<%= render "race_fields", :f => builder %>
	<% end %>
		
	<p><%= link_to_add_fields t("trainings.new.add_race"), f, :races %></p>
	
	<p>
		<span class="button gold"><%= f.submit submit %></span> |
		<%= link_to t("common.cancel"), user_trainings_path(current_user), :confirm => t("common.sure") %>
	</p>
<% end %>