<% title "#{@user.login}s #{t("activerecord.models.training.other")}" %>

<h1><%= "#{t("trainings.index.trainings_for")} #{@user.login}" %></h1>

<% if permitted_to? :create, @user.trainings %>
	<p class="right">
		<%= link_to t("trainings.index.new_training"), new_user_training_path(@user) %>
	</p>
<% end %>

<p class="left"><%= will_paginate @trainings %></p>

<table>
  <tr>
    <th class="align_left"><%= t("activerecord.attributes.training.date") %></th>
	<th class="align_left"><%= t("activerecord.attributes.training.races") %></th>
  </tr>

<% @trainings.each do |training| %>
  <tr class="<%= cycle "odd", "even" %> small">
    <td><%= link_to training.date, training %></td>
	<td><%= training.races.size %></td>
	<% if_authorized?(action_name, training) do %>
    	<td class="edit"><%= link_to t("common.edit"), edit_training_path(training) %></td>
    	<td class="destroy"><%= link_to t("common.destroy"), training, :confirm => t("common.sure"), :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>


<p class="margin_top">
	<%= link_to t("common.back"), user_path(@user) %>
	<% if permitted_to? :create, @user.trainings %>
		| <%= link_to t("trainings.index.new_training"), new_user_training_path(@user) %>
	<% end %>
</p>

