<% title "#{@training.date.strftime("%e %b - %Y")}" %>
<% main_class("large_width") %>


<p class="bold"><%=h @training.date %></p>

<p>
  <%=simple_format h @training.comment %>
</p>

<% form_tag edit_individual_training_races_path(@training) do %>
<table id="races">
	<tr>
		<%= content_tag :th if permitted_to? :update, @training.races.first %>
		<th><%= t("activerecord.attributes.race.event_id") %></th>
		<th><%= t("activerecord.attributes.race.distance") %></th>
		<th><%= t("activerecord.attributes.race.race_track_id") %></th>
		<th><%= t("activerecord.attributes.race.time") %></th>
		<th><%= t("activerecord.attributes.race.hr_max") %></th>
		<th><%= t("activerecord.attributes.race.hr_avg") %></th>
	</tr>
	<%= render :partial => @training.races %>
</table>

<% if permitted_to? :update, @training %>
	<%= select_tag :field, options_for_select([[t("trainings.show.all_fields"), ""],
											   [t("activerecord.models.event.one"), "event_id"],
											   [t("activerecord.attributes.race.distance"), "distance"],
											   [t("activerecord.models.race track.one"), "race_track_id"],
											   [t("activerecord.attributes.race.time"), "time"],
											   ["#{t("activerecord.attributes.race.hr_max")}, #{t("activerecord.attributes.race.hr_avg")}", "hr"],
											   [t("activerecord.models.comment.one"), "comment"]]) %>
											
	<%= submit_tag t("trainings.show.edit_selected") %>
	<% end %>
<% end %>

<% if_authorized?(action_name, @training) do %>
	<p>
		<%= link_to_function(t("trainings.show.show_hide_form"), :id => "toggle_race") do |page|
			page[:race_form].toggle
		end %>
	</p>
	
	<fieldset id="race_form" style="display:none;">
		<% remote_form_for(@training.races.build, :url => training_races_path(@training)) do |f|  %>
			<%= error_messages_for 'race', :object => @training.races %>
		
			<%= render "races/fields", :f => f %>
			
			<p class="clear_left">
				<%= f.submit t("common.create") %>
			</p>
		<% end %>
	</fieldset>
<% end %>

<%= render "comments/comments_container", :commentable => @training, :url => new_training_comment_path(@training) %>

<div class="left clear_left">
	<% if_authorized?(action_name, @training) do %>
		<%= link_to t("common.edit"), edit_training_path(@training) %> |
	<% end %>

	<%= link_to t("common.back"), member_path(@training.user) %>
</div>