<% title "Login" %>
<% main_class "small_width" %>

<div class="sessions_new">
	<h1><%= t("login.login") %></h1>

	<%= form_tag session_path do -%>
		<div class="username login">
			<p>
				<%= label_tag 'login', t("activerecord.attributes.user.login") %><br />
				<%= text_field_tag 'login', @login %>
			</p>

			<p>
				<%= label_tag 'password', t("activerecord.attributes.user.password") %><br/>
				<%= password_field_tag 'password', nil %>
			</p>
		</div>

		<p><span class="button gold big"><%= submit_tag t("login.login") %></span></p>
	<% end -%>

	<% content_for :right_side do %>
		<%= render "side_modules/local_tracks", :area => @area %>
	<% end %>
</div>