<% form_for(@track, :html => {:multipart => true}) do |f| %>
	<%= f.error_messages %>
	
	<div class="left">
		<p class="default">
			<%= f.label :title, t("activerecord.attributes.track.title") %><br />
			<%= f.text_field :title, :size => 30 %>
		</p>

		<p class="default">
			<%= f.label :description, t("activerecord.attributes.track.description") %><br />
			<%= f.text_area :description, :rows => 4, :cols => 28 %>
		</p>
	</div>
	<div class="left margin_left_large">
		<p class="default">
			<%= f.label :municipality_id, t("activerecord.models.municipality.one") %><br />
			<%= select("county", "id", County.all.map {|c| [ c.name, c.id ] }, {:prompt => "#{t("common.select")} #{t("activerecord.models.county")}"}, {:onchange => remote_function(:url => {:controller => :municipalities, :action => :index}, :with => "'county_id=' + this.value", :method => :get)}) %>
			<%= f.collection_select :municipality_id, Municipality.all, :id, :name, {:prompt => "#{t("common.select")} #{t("activerecord.models.municipality.one")}"}, {:id => 'municipality_id'} %>
		</p>
		
		<p class="default">
			<%= f.label :circle, t("tracks.new.same_start_finish") %>
			<%= f.check_box :circle %>
			<%= info_tag t("tracks.info.same_start_finish") %>
		</p>
		
		<p  class="default">
			<%= f.label :track, t("activerecord.attributes.track.track") %><br />
			<%= f.file_field :track %>
		</p>
		
		<p><%= t("tracks.new.plot_track") %></p>

		<!-- Tracksegments-->
		<div>
			<% if @track.new_record? %>
				<% f.fields_for :tracksegments do |builder| %>
					<%= builder.hidden_field :track_version, :value => 1 %>
				<% end %>
			<% else %>
				<input id="track_tracksegments_attributes_0_track_version" name="track[tracksegments_attributes][0][track_version]" type="hidden" value="<%= @track.version + 1 %>" />
			<% end %>
			<div>
				<input type="hidden" id="tracksegment_reference_holder">
			</div>
		</div>
		<!-- /Tracksegments-->
	</div>
	
	<div id="map_canvas" class="left"></div>
	<p class="left">
		<%= link_to_function t("tracks.new.remove_last_point"), "Map.remove_last_point()" %>
	</p>
	
	<p class="left clear_both">
		<%= f.submit submit %> | <%= link_to t("common.cancel"), tracks_path %>
	</p>
<% end %>