<%= form_for(@track, :html => {:multipart => true, :class => "form"}) do |f| %>
	<%= error_messages(@track) %>
	
	<div class="left">
		<p class="default">
			<%= f.label :title, t("activerecord.attributes.track.title") %><br />
			<%= f.text_field :title, :size => 30 %>
		</p>

		<p class="default">
			<%= f.label :description, t("activerecord.attributes.track.description") %><br />
			<%= f.text_area :description, :rows => 4, :cols => 33 %>
		</p>
		
		<p class="default">
			<%= f.label :tag_names, t("tracks.new.tag_names") %> <span class="small"><%= t("tracks.new.tag_names_description") %></span><br />
			<%= f.text_field :tag_names %>
		</p>
	</div>
	<div class="left margin_left_large">
		<p class="default">
			<%= f.label :distance, t("activerecord.attributes.track.distance") %><br />
			<%= f.text_field :distance, :size => 8 %>
		</p>
		<p class="default">
			<%= f.label :municipality_id, t("activerecord.models.municipality.one") %><br />
			<%= select("county", "id", County.all.map {|c| [ c.name, c.id ] }, {:prompt => "#{t("common.select")} #{t("activerecord.models.county.one")}"}) %>
			<%= f.collection_select :municipality_id, Municipality.all, :id, :name, {:prompt => "#{t("common.select")} #{t("activerecord.models.municipality.one")}"}, {:id => 'municipality_id'} %>
		</p>
		
		<p class="default">
			<%= f.label :circle, t("tracks.new.same_start_finish") %>
			<%= f.check_box :circle %>
			<%= info_tag t("tracks.info.same_start_finish") %>
		</p>
		
		<p  class="default">
			<%= f.label :file, t("activerecord.attributes.track.track") %><br />
			<%= f.file_field :file %>
		</p>
		
		<p><%= t("tracks.new.plot_track") %></p>
		
		<div class="tracksegments">
			<div>
				<%= f.fields_for :tracksegments do |builder| %>
					<%= builder.fields_for :points do |point| %>
						<%= point.hidden_field :longitude %>
						<%= point.hidden_field :latitude %>
						<%= point.hidden_field :elevation %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	
	<div id="map_canvas" class="left"></div>
	<p class="left">
		<%= link_to t("tracks.new.remove_last_point"), nil, :class => "remove_last_point" %>
	</p>
	
	<p class="left clear_both">
		<%= f.submit submit %> | <%= link_to t("common.cancel"), tracks_path %>
	</p>
<% end %>