<div class="track_records_options">
	<% form_tag records_track_path, :method => "get", :class => "track_records" do %>
		<% if track_records.track.events.count > 1 %>
			<%= select_tag("event", "<option value=\"\">#{t("all")}</option>" + options_from_collection_for_select(track_records.track.events, 'id', 'name', (track_records.event.blank? ? nil : track_records.event.id)), :class => "select_track_event") %>
		<% end %>

		<%= label_tag "gender_-1", t("tracks.records.all") %>: <%= radio_button_tag "gender", "-1", (track_records.gender == nil || track_records.gender == "-1") %>
		<%= label_tag "gender_1", t("tracks.records.ladies") %>: <%= radio_button_tag "gender", 1, track_records.gender == "1" %>
		<%= label_tag "gender_0", t("tracks.records.men") %>: <%= radio_button_tag "gender", 0, track_records.gender == "0" %>

		<% unless request.xhr? %>
			<span class="button gold"><%= submit_tag t("common.send"), :name => nil %><span>
		<% end %>
	<% end %>
</div>

<table class="small">
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tbody>
		<% track_records.races.each_with_index do |track_record, index| %>
		<tr class="<%= cycle "odd", "even" %>">
			<td><%= index + 1 %>. <%= link_to track_record.user.login, user_path(track_record.user) %></td>
			<td><%= link_to track_record.event.name, track_record %></td>
			<td><%= track_record.time.strftime("%H:%M:%S") unless track_record.time.blank? %></td>
			<td><%= track_record.training.date.strftime("%y-%m-%d") %></td>
		</tr>
		<% end %>
	</tbody>
</table>
	