<% title "#{t("common.edit")} #{@track.title}" %>

<% content_for :head do %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= APP_CONFIG["google_maps_api_key"] %>" type="text/javascript"></script>
	<%= javascript_include_tag "maps" %>
	
	<%= javascript_tag "Map.set_options({click_listener: true});" %>
<% end %>

<% content_for :left_side do %>

<%= render :partial => 'form', :locals => {:submit => t("common.edit")} %>

<% end %>

<div id="map_canvas"></div>
<p class="default">
	<%= link_to_function t("tracks.new.remove_last_point"), "Map.remove_last_point()" %>
</p>

<%= loading_div %>