<% title t("seo.tracks_index_title", :events => Event.find(:all, :limit => 3).map { |e| e.name }.humanize_join(", ", " & ")) %>

<% content_for :left_side do %>
	<div class="side_module">
		<h5><%= t("side_modules.latest_tracks") %></h5>
		<ul class="small">
			<% @latest_tracks.each do |track| %>
				<li><%= link_to track.title, track_path(track) %></li>
			<% end %>
		</ul>
		<div class="bottom"></div>
	</div>
<% end %>

<h1><%= t("activerecord.models.track.other") %></h1>

<div class="content">
	<%= render "tracks", :tracks => @tracks, :county => @county, :counties => @counties, :municipality => @municipality, :municipalities => @municipalities %>
</div>

<% if permitted_to? :create, Track.new %>
	<p class="default align_right">
		<%= link_to t("tracks.index.new_track"), new_track_path %>
	</p>
<% end %>