<% title "Tracks" %>
<% main_class "large_width" %>

<h1>Listing tracks</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Track Source</th>
	</tr>

<% @tracks.each do |track| %>
	<tr>
		<td><%= link_to track.name, track %></td>
		<td><%= track_created_from(track) %></td>
		<% if logged_in? %>
			<td><%= link_to 'Edit', edit_track_path(track) %></td>
			<% if admin? %>
				<td><%= link_to 'Destroy', track, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		<% end %>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New track', new_track_path %>