<% title t("tracks.new.new_track") %>

<% content_for :head do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	
	<script type="text/javascript" charset="utf-8">
	$(function() {
		<% if  !@track.tracksegments.blank? and @track.tracksegments.last.new_record? %>
			<% @track.tracksegments.last.points.each do |point| %>
				Map.points.push(new google.maps.LatLng(<%= point.latitude %>, <%= point.longitude %>));
			<% end %>
		<% end %>
		
		Map.set_options({click_listener: true});
		
		Map.display();
	});
		
	</script>
<% end %>
<div class="tracks_new">
	<h2><%= t("tracks.new.new_track") %></h2>
	<%= render :partial => 'form', :locals => {:submit => t("common.create")} %>

	<%= loading_div %>
</div>