<% title t("tracks.new.new_track") %>

<% content_for :head do %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=<%= APP_CONFIG["google_maps_api_key"] %>" type="text/javascript"></script>
	<%= javascript_include_tag "maps" %>
	
	<script type="text/javascript" charset="utf-8">
		//<![CDATA[
		<% unless @track.tracksegments.blank? %>
			<% @track.tracksegments.last.points.each do |point| %>
				Map.track_points.push(new GLatLng(<%= point.latitude %>, <%= point.longitude %>));
			<% end %>
		<% end %>
		//]]>
	</script>
	
	<%= javascript_tag "Map.set_options({click_listener: true});" %>
	<%= javascript_include_tag "tooltips" %>
	
<% end %>

<% content_for :right_side do %>
	<%= render "side_modules/beta" %>
<% end %>

<h2><%= t("tracks.new.new_track") %></h2>
<%= render :partial => 'form', :locals => {:submit => t("common.create")} %>

<%= loading_div %>