<% title t("tracks.new.new_track") %>

<% content_for :head do %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAI7vgMWXyJttIg3zaex8VQBS8AnXYoE8C-F64DtdDJq8UsxjJ0hRgLHNjEsGnhPbSknXTWgAOGMt14g" type="text/javascript"></script>
	<%= javascript_include_tag "maps" %>
	
	<%= javascript_tag "Map.set_options({click_listener: true});" %>
<% end %>

<% content_for :left_side do %>
	<h2><%= t("tracks.new.new_track") %></h2>
	<%= render :partial => 'form', :locals => {:submit => t("common.create")} %>
<% end %> 

<div id="map_canvas"></div>
<%= link_to_function t("tracks.new.remove_last_point"), "Map.remove_last_point()" %>
<%= loading_div %>