<% title "#{@track.title} - #{t("tracks.record")}" %>

<h1><%= "#{t("tracks.records.records_for")} #{@track.title}" %></h1>

<% if @track.events.count > 1 %>
	<%= select("race", "id",@track.events.map {|e| [ e.name, e.id ] }, {:prompt => t("tracks.records.all") }, {:class => "select_track_event"}) %>
<% end %>

<ol>
	<%= render :partial => "track_record", :collection => @races %>
</ol>

<%= link_to @track.title, track_path(@track) %> |
<%= link_to t("activerecord.models.track.other"), tracks_path %>