<% title "#{@track.title} - #{t("tracks.record")}" %>

<% content_for :left_side do %>
	<%= render "side_modules/recent_records", :tab_service => @recent_records_tab_service, :title => t("side_modules.recent_records") %>
<% end %>

<div class="track_records">
	<h1><%= "#{t("tracks.records.records_for")} #{@track.title}" %></h1>

	<div class="wrapper">
		<%= render "track_records", :track_records => @track_records %>
	</div>
	
	<%= link_to @track.title, track_path(@track) %> |
	<%= link_to t("activerecord.models.track.other"), tracks_path %>
</div>