<% title @track.title %>
<% main_class("large_width") %>

<% content_for :head do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="/javascripts/google_maps.js"></script>
	
	<script type="text/javascript" charset="utf-8">
	$(function() {
		<% if @track.tracksegments.blank? %>
			Map.set_options();
		<% else %>
			Map.set_options({track: <%= @track.id %>, track_version: <%= @track.version %>});
		<% end %>
		
		Map.display();
	});
		
	</script>
	
	
<% end %>

<div class="tracks_show">
	<div class="information">
		<h3><%= h @track.title %></h3>
		<div>
			<%= RedCloth.new(@track.description).to_html %>
		</div>
		
		<%= link_to(t("tracks.record"), records_track_path(@track)) %>

		<% unless @track.tags.blank? %>
			<div class="border_top">
				<h4><%= t("activerecord.models.tag.other") %>:</h4>
				<ul>
					<% @track.tags.each do |tag| %>
						<li><%= tag.name %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="border_top">
			<% if params[:version] %>
				<p>
					<%= link_to t("tracks.show.current"), :version => nil %>
				</p>
			<% end %>

			<%= link_to t("tracks.show.view_history"), nil, :class => "toggle_history show" %>
			
			<%= link_to t("tracks.show.hide_history"), nil, :class => "toggle_history hide" %>

			<ul class="track_history">
				<li>
					1. <%= link_to @track.created_at.strftime("%Y-%m-%d"), :version => 1 %>,
					<%= link_to @track.created_by_user.login, user_path(@track.created_by_user) unless @track.created_by_user.blank? %>
				</li>
				<% @track.versions.each do |version| %>
					<li>
						<%= version.number %>. 
						<%= link_to version.created_at.strftime("%Y-%m-%d"), :version => version.number %>,
						<%= link_to version.user.login, user_path(version.user) unless version.user.blank? %>
					</li>
				<% end %>
			</ul>

			<% unless @track.tracksegments.blank? %>
				<p>
					<%= t("tracks.show.download_track") %>:<br>
					<%= link_to "#{h(@track.title)} (GPX)", track_points_path(@track, :gpx) %><br />
					<%= link_to "#{h(@track.title)} (KML)", track_points_path(@track, :kml) %>
				</p>

				<p>
					<span class="bold"><%= t("tracks.source") %>:</span><br />
					<%= track_created_from(@track) %>
				</p>
			<% end %>

			<p>
				<span class="bold"><%= t("activerecord.models.municipality.one") %>:</span><br />
				<%= @track.municipality.name %>
			</p>
		</div>

		<% if permitted_to? :update, @track %>
			<div class="border_top">
				<%= link_to t("common.edit"), edit_track_path(@track) %>
			</div>
		<% end %>
	</div>
	<div class="map_area">
		<div id="map_canvas"></div>

		<%= render "comments/comments_container", :commentable => @track, :url => new_track_comment_path(@track) %>
	</div>
</div>



