<% title @track.name %>

<% content_for :head do %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAI7vgMWXyJttIg3zaex8VQBS8AnXYoE8C-F64DtdDJq8UsxjJ0hRgLHNjEsGnhPbSknXTWgAOGMt14g" type="text/javascript"></script>
	<%= javascript_include_tag "google_maps" %>
	
	<script type="text/javascript">
		// <![CDATA[
		var track_id = "<%= @track.to_param %>";
		var map = null;
		// ]]>
	</script>
	
<% end %>

<% content_for :right_side do %>
	<h2>Info:</h2>
	<p>
		Download this track:<br>
		<%= link_to "#{h(@track.name)} (GPX)", track_points_path(@track, :gpx) %><br>
		<%= link_to "#{h(@track.name)} (KML)", track_points_path(@track, :kml) %>
	</p>
	<p>
		The Track is made from the following file:<br>
		<%= link_to "#{h(@track.name)} (GPX)", @track.track.url %>
	</p>
	
	<div class="border_top">
		<p id="sample_rate">Rate: 5</p>
		<p id="track_distance"></p>
		<% total_time = 0 %>
		<% @track.tracksegments.each_with_index do |tracksegment, index| %>
			<p>Segement <%= index+1 %>: <%= readable_time_difference(tracksegment.end_time - tracksegment.start_time) %></p>
			<% total_time += tracksegment.end_time - tracksegment.start_time %>
		<% end %>
		<p>Total time: <%= readable_time_difference(total_time) %></p>

		<p>
			Time from start to stop: <%= readable_time_difference(@track.tracksegments.first.end_time - @track.tracksegments.last.start_time) %>
		</p>
	</div>
<% end %>

<h2><%= h @track.name %></h2>
<div id="map_canvas"></div>

<div id="sample_rate_slide">
	<div id="sample_rate_handle"></div>
</div>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>