<% title t("seo.tracks_show_title", :track => @track.title) %>
<% description t("seo.tracks_show_description", :track => @track.title, :municipality => @track.municipality.name) %>
<% canonical track_path(@track) %>
<% main_class("large_width") %>

<% content_for :head do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	
	<script type="text/javascript" charset="utf-8">
		$(function() {
			<% if @track.tracksegments.blank? %>
				Map.set_options();
			<% else %>
				Map.set_options({track: <%= @track.id %>});
			<% end %>
		
			Map.display();
		});
	</script>
<% end %>

<div class="tracks_show">
	<div class="information">
		<h3><%= h @track.title %></h3>
		<h4><%= t("tracks.show.km", :km => number_with_delimiter(@track.distance)) %></h4>
		<div>
			<%= RedCloth.new(@track.description).to_html %>
		</div>
		
		<%= link_to(t("tracks.record"), records_track_path(@track)) %>

		<% unless @track.tags.blank? %>
			<div class="border_top">
				<h4><%= t("activerecord.models.tag.other") %>:</h4>
				<ul>
					<% @track.tags.each do |tag| %>
						<li><%= tag.name %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="border_top">
			<% unless @track.tracksegments.blank? %>
				<p>
					<%= t("tracks.show.download_track") %>:<br>
					<%= link_to "#{h(@track.title)} (GPX)", track_points_path(@track, :gpx) %><br />
					<%= link_to "#{h(@track.title)} (KML)", track_points_path(@track, :kml) %>
				</p>

				<p>
					<span class="bold"><%= t("tracks.source") %>:</span><br />
					<%= track_created_from(@track) %>
				</p>
			<% end %>

			<p>
				<span class="bold"><%= t("activerecord.models.municipality.one") %>:</span><br />
				<%= @track.municipality.name %>
			</p>
		</div>

		<% if permitted_to? :update, @track %>
			<div class="border_top">
				<%= link_to t("common.edit"), edit_track_path(@track) %>
			</div>
		<% end %>
	</div>
	<div class="map_area">
		<div id="map_canvas"></div>
	</div>
</div>



