<% div_for(comment, :class => "comment_entry") do %>
	<span class="bold"><%=h comment.user.login %></span>, <span><%= t("comments.posted") %> <%= time_ago_in_words comment.created_at %> <%= t("comments.ago") %></span>
	<%= simple_format h(comment.content) %>
	<% if comment.updated_at > comment.created_at %>
		<p class="comment_updated"><%= t("comments.updated") %> <%= time_ago_in_words comment.updated_at %> <%= t("comments.ago") %></p>
	<% end %>
	
	<% if permitted_to? :create, Comment.new %>
		<%= link_to t("comments.answer"), new_comment_comment_path(comment), :class => "answer_comment", :rel => "popup" %> |
	<% end %>
	
	<%= link_to t("comments.report"), report_comment_path(comment), :class => "report_comment" %>
	
	<% if permitted_to? :update, comment %>
		| <%= link_to t("common.edit"), edit_comment_path(comment), :class => "edit_comment submit_comment", :rel => "popup" %>
	<% end %>
	
	<% div_for(comment, "comments", :class => "comments") do %>
		<%= render :partial => "comments/comment", :collection => comment.comments.approved %>
	<% end %>
<% end %>