<% div_for(comment, :class => "comment_entry") do %>
	<span class="bold"><%=h comment.user.login %></span>, <span>posted <%= time_ago_in_words comment.created_at %> ago</span>
	<%= simple_format h(comment.content) %>
	<% if comment.updated_at > comment.created_at %>
		<p class="comment_updated">Updated <%= time_ago_in_words comment.updated_at %> ago</p>
	<% end %>
	<% if logged_in? %>
		<%= link_to_remote "Answer", :url => new_comment_comment_path(comment), :method => :get %> |
	<% end %>
	<%= link_to_remote "Report", :url => report_comment_path(comment), :method => :get, :success => "alert('Comment has been reported');" %>
	<% if_authorized?(:update, comment) do %>
		| <%= link_to_remote "Edit", :url => edit_comment_path(comment), :method => :get %>
	<% end %>
	<% div_for(comment, "comments", :class => "comments") do %>
		<%= render :partial => "comments/comment", :collection => comment.comments.approved %>
	<% end %>
<% end %>