<% content_tag :div, :class => "modalbox_content new_comment_box" do %>
	<p><%= link_to t("common.cancel"), "#", :class => "MB_close" %></p>
	<% remote_form_for [commentable, Comment.new] do |f| %>
		<%= f.error_messages %>
	
		<p>
			<%= f.label :content %><br />
			<%= f.text_area :content, :rows => 5, :cols => 20, :tabindex => 1 %>
		</p>
	
		<p><%= f.submit t("common.submit") %></p>
	<% end %>
<% end %>
