<% form_for(@race_track) do |f| %>
	<%= f.error_messages %>
	
	<div class="left">
		<p>
			<%= f.label :title, t("activerecord.attributes.race_track.title") %><br />
			<%= f.text_field :title %>
		</p
	
		<p>
			<%= f.label :description, t("activerecord.attributes.race_track.description") %><br />
			<%= f.text_area :description, :rows => 5 %>
		</p>
	
		<p>
			<%= f.label :municipality_id, t("activerecord.models.municipality.one") %><br />
			<%= select("county", "id", County.all.map {|c| [ c.name, c.id ] }, {:prompt => "#{t("common.select")} #{t("activerecord.models.county")}"}, {:onchange => remote_function(:url => {:controller => :municipalities, :action => :index}, :with => "'county_id=' + this.value", :method => :get)}) %>
		
			<%= f.collection_select :municipality_id, Municipality.all, :id, :name, {:prompt => "#{t("common.select")} #{t("activerecord.models.municipality.one")}"}, {:id => 'municipality_id'} %>
		</p>
	
		<p>
			<%= f.label :tag_names, t("race_tracks.new.tag_names") %> <span class="small"><%= t("race_tracks.new.tag_names_description") %></span><br />
			<%= f.text_field :tag_names %>
		</p>
	
		<p class="margin_top">
			<%= f.submit submit %> | <%= link_to t("common.cancel"), race_tracks_path, :confirm => t("common.sure") %>
		</p>
	</div>
	<div class="left margin_left margin_top_small">
		<h4><%= t("race_tracks.new.race_track_segments") %></h4>

		<% f.fields_for :race_track_segments do |builder| %>
			<%= render "race_track_segment_fields", :f => builder %>
		<% end %>

		<p><%= link_to_add_fields t("race_tracks.new.add_race_track_segment"), f, :race_track_segments %></p>
	</div>
<% end %>