<div class="fields">
	<p style="display:inline;">
		<%= f.collection_select :track_id, Track.all, :id, :title, {:prompt => "#{t("common.select")} #{t("activerecord.models.track.one")}"} %>
	</p>

	<p style="display:inline;">
		<%= f.label :quantity, t("activerecord.attributes.race_track_segment.quantity") %>:
		<%= f.text_field :quantity, :size => "2" %><br />
	</p>

	<p>
		<%= f.hidden_field :_destroy %>
		<%= link_to_function t("common.remove"), "remove_fields(this)" %>
	</p>
</div>