<% title "New Race Track"%>

<h1>New Race Track</h1>

<% form_for(@race_track) do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p
	
	<p>
		<%= f.label :description %><br />
		<%= f.text_area :description, :rows => 5 %>
	</p>
	
	<p>
		<%= f.label :municipality_id %><br />
		<%= select("county", "id", County.all.map {|c| [ c.name, c.id ] }, {:prompt => 'Select County'}, {:onchange => remote_function(:url => {:controller => :municipalities, :action => :index}, :with => "'county_id=' + this.value", :method => :get)}) %>
		<%= f.collection_select :municipality_id, Municipality.all, :id, :name, {:prompt => "Select a Municipality"}, {:id => 'municipality_id'} %>
	</p>
	
	<p>
		<%= f.label :tag_names %><br />
		<%= f.text_field :tag_names %>
	</p>	
	
	<div id="race_track_segments">
  		<%= render :partial => 'race_track_segment_field', :collection => (@race_track.race_track_segments) %>
	</div>
	
	<%= add_race_track_segment_field_link 'Add Race Track Segment' %>
	<p>
		<%= f.submit 'Create' %>
	</p>
<% end %>

<%= link_to 'Back', race_tracks_path %>

