<% title "#{@race_track.title} - #{t("race_tracks.record")}" %>

<h1><%= "#{t("race_tracks.records.records_for")} #{@race_track.title}" %></h1>

<ol>
	<% @race_track.races.find(:all, :order => "time").each do |race| %>
		<li><%= link_to race.user.login, user_path(race.user) %>, <%= race.event.name %><%=", #{race.time.strftime("%H:%M:%S")}" unless race.time.blank? %></li>
	<% end %>
</ol>

<%= link_to @race_track.title, race_track_path(@race_track) %> |
<%= link_to t("activerecord.models.race track.other"), race_tracks_path %>