<p class="left">
	<%= f.label :event_id, t("activerecord.models.event.one") %><br />
	<%= f.collection_select :event_id, Event.find(:all, :order => :name), :id, :name, :include_blank => true %>
	
	<a class="toggle_event" href="#"><%= t("trainings.new.new_event") %></a>
</p>

<div class="left new_event" style="display:none;">
	<p>
		<%= f.label :new_event_name, t("trainings.new.new_event_name") %><br />
		<%= f.text_field :new_event_name %>
	</p>
	<p>
		<%= f.label :new_event_description, t("trainings.new.new_event_description") %><br />
		<%= f.text_field :new_event_description %>
	</p>
</div>

<p class="left clear_left">
	<%= f.label :track_id, t("activerecord.models.track.one") %><br />
	<%= f.collection_select :track_id, 
		((current_user.municipality.track_ids.include?(f.object.track_id) or f.object.track_id.blank?) ? current_user.municipality.tracks.find(:all, :order => :title) : Track.find(:all, :order => :title)),
		:id,
		:title,
		{:prompt => t("trainings.edit.local_tracks")},
		{:class => "tracks"} %>
	<%= link_to(t("trainings.show.view_all_tracks"), nil, :class => "view_all_tracks") if f.object.new_record? %>
</p>

<p class="left  clear_left">
	<%= f.label :distance, t("activerecord.attributes.race.distance") %><br />
	<%= f.text_field :distance, :size => 4, :class => 'distance_field' %>
</p>

<p class="left margin_left">
	<%= f.label :time_string, t("activerecord.attributes.race.time") %><br />
	<%= f.text_field :time_string, :size => 8 %>
</p>

<p class="left margin_left">
	<%= f.label :hr_max, t("activerecord.attributes.race.hr_max") %><br />
	<%= f.text_field :hr_max, :size => 4 %>
</p>

<p class="left margin_left">
	<%= f.label :hr_avg, t("activerecord.attributes.race.hr_avg") %><br />
	<%= f.text_field :hr_avg, :size => 4 %>
</p>

<% if f.object.note.blank? or f.object.note.new_record? %>
	<p class="left clear_left">
		<a class="toggle_note" href="#"><%= t("trainings.new.add_note") %></a>
	</p>
<% end %>

<%= f.fields_for :note, (f.object.note.blank? ? f.object.build_note : f.object.note ) do |builder| %>
	<p class="left clear_left new_note" <%= raw("style=\"display:none;\"") if f.object.note.content.blank? %>>
		<%= builder.label :content, t("activerecord.models.note.one") %><br />
		<%= builder.text_area :content, :rows => 4, :cols => 30 %>
	</p>
<% end %>
