<% if form_input_field?("event_id") %>
	<p class="left">
		<%= f.label :event_id, t("activerecord.models.event.one") %><br />
		<%= f.collection_select :event_id, Event.all, :id, :name, :include_blank => true %>
		
		<%= link_to_function(t("trainings.new.new_event"), nil) do |page|
		    page[:new_event].toggle
		  end %>
	</p>
	
	<div id="new_event" class="left" style="display:none;">
		<p>
			<%= f.label :new_event_name, t("trainings.new.new_event_name") %><br />
			<%= f.text_field :new_event_name %>
		</p>
		<p>
			<%= f.label :new_event_description, t("trainings.new.new_event_description") %><br />
			<%= f.text_field :new_event_description %>
		</p>
	</div>
<% end %>

<% if form_input_field?("distance") %>
	<p class="left  clear_left">
		<%= f.label :distance, t("activerecord.attributes.race.distance") %><br />
		<%= f.text_field :distance, :size => 4 %>
	</p>
<% end %>
	
<% if form_input_field?("time") %>
	<p class="left margin_left">
		<%= f.label :time_string, t("activerecord.attributes.race.time") %><br />
		<%= f.text_field :time_string, :size => 8 %>
	</p>
<% end %>
	
<% if form_input_field?("hr") %>
	<p class="left margin_left">
		<%= f.label :hr_max, t("activerecord.attributes.race.hr_max") %><br />
		<%= f.text_field :hr_max, :size => 4 %>
	</p>
	<p class="left margin_left">
		<%= f.label :hr_avg, t("activerecord.attributes.race.hr_avg") %><br />
		<%= f.text_field :hr_avg, :size => 4 %>
	</p>
<% end %>
	
<% if form_input_field?("race_track_id") %>
	<p class="left margin_left">
		<%= f.label :race_track_id, t("activerecord.models.race track.one") %><br />
		<%= f.collection_select :race_track_id, current_user.municipality.race_tracks, :id, :title, :prompt => "Lokala spår" %>
		<%= link_to (t("trainings.show.view_all_race_tracks"), nil, :class => "view_all_tracks") %>
	</p>
<% end %>

<% if form_input_field?("comment") %>
	<p class="left clear_left">
		<%= link_to_function(t("trainings.new.new_comment"), nil) do |page|
	    	page[:new_comment].toggle
	  	end %>
	</p>
	<p class="left clear_left" id="new_comment" style="display:none;" >
		<%= f.label :comment, t("activerecord.attributes.race.comment") %><br />
		<%= f.text_area :comment, :rows => 4, :cols => 30 %>
	</p>
<% end %>