<% unless race.new_record? %>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= link_to race.event.name, race_path(race) %></td>
		<td><%= race.distance %></td>
		<td><%= link_to race.track.title, track_path(race.track) unless race.track.blank? %></td>
		<td><%= race.time.strftime("%H:%M:%S") unless race.time.blank? %></td>
		<td><%= race.time_per_km.strftime("%M:%S") unless race.time.blank? %></td>
		<td><%= race.hr_max unless race.hr_max.blank? %></td>
		<td><%= race.hr_avg unless race.hr_avg.blank? %></td>
		<td <%= "class=\"race_note\"" unless race.note.blank? %>>
			<% unless race.note.blank?  %>
				Not.
				<div><p class="race_note"><%= race.note.content %></p></div>
			<% end %>
		</td>
		<% if permitted_to? :update, race %>
			<td class="small"><%= link_to t("common.edit"), edit_race_path(race) %></td>
		<% end %>
		<% if permitted_to? :destroy, race %>
			<td class="small"><%= link_to t("common.destroy"), race, :confirm => t("common.sure"), :method => :delete %></td>
		<% end %>
	</tr>
<% end %>