<% unless race.new_record? %>
	<tr>
		<% if permitted_to? :update, race %>
			<td><%= check_box_tag "race_ids[]", race.to_param %></td>
		<% end %>
		<td><%= link_to race.event.name, race_path(race) %></td>
		<td class="center"><%= race.distance %></td>
		<td class="center"><%= link_to race.race_track.title, race_track_path(race.race_track) unless race.race_track.blank? %></td>
		<td class="center"><%= race.time.strftime("%H:%M:%S") unless race.time.blank? %></td>
		<td class="center"><%= race.hr_max unless race.hr_max.blank? %></td>
		<td class="center"><%= race.hr_avg unless race.hr_avg.blank? %></td>
		<% if permitted_to? :update, race %>
			<td class="small"><%= link_to t("common.edit"), edit_race_path(race) %></td>
		<% end %>
		<% if permitted_to? :destroy, race %>
			<td class="small"><%= link_to t("common.destroy"), race, :confirm => t("common.sure"), :method => :delete %></td>
		<% end %>
	</tr>
<% end %>