<% title @race.training.date.strftime("%e %b - %Y") %>
<% main_class "large_width" %>

<h1><%= t("races.edit.edit_race") %></h1>

<%= form_for @race do |f| %>
	<%= render "fields", :f => f %>
	
	<p class="clear_left">
		<span class="button gold"><%= f.submit t("common.edit") %></span>
	</p>
<% end %>

<%= link_to t("activerecord.models.training.one"), training_path(@race.training) %>