<% title @race.training.date.strftime("%e %b - %Y") %>
<% main_class "large_width" %>

<h1><%= t("races.edit.edit_race") %></h1>

<%= form_for @race do |f| %>
	<%= render "fields", :f => f %>
	
	<p class="clear_left">
		<span class="button gold"><%= f.submit t("common.edit") %></span>
	</p>
<% end %>

<%= link_to t("activerecord.models.training.one"), training_path(@race.training) %>

<% content_for :footer_scripts do %>
	<script type="text/javascript" charset="utf-8">
		var localTracks = new TracksCollection();
		localTracks.reset(<%= raw(current_user.municipality.tracks.find(:all, :order => :title).to_json) %>);
		
		var form = new RaceFormView({model: {localTracks: localTracks}, index: 0});
		form.setElement($('form.edit_race'));
	</script>
<% end %>