<% title "#{@race.training.date} // #{@race.event.name}"  %>
<% main_class "large_width" %>

<div class="left width_200">
	<p>
		<span class="bold"><%= t("activerecord.attributes.race.event_id") %>:</span><br />
		<%= @race.event.name %>
	</p>
	<p>
		<span class="bold"><%= t("activerecord.attributes.race.distance") %>:</span><br />
		<%= @race.distance %>
	</p>
	<p>
		<span class="bold"><%= t("activerecord.attributes.race.time") %>:</span><br />
		<%= @race.time.strftime("%H:%M:%S") unless @race.time.blank? %>
	</p>
	<p>
		<span class="bold"><%= t("activerecord.attributes.race.hr_max") %>:</span><br />
		<%= @race.hr_max unless @race.hr_max.blank? %>
	</p>
	<p>
		<span class="bold"><%= t("activerecord.attributes.race.hr_avg") %>:</span><br />
		<%= @race.hr_avg unless @race.hr_avg.blank? %>
	</p>

	<p>
		<span class="bold"><%= t("activerecord.attributes.race.race_track_id") %>:</span><br />
		<%= link_to @race.race_track.title, race_track_path(@race.race_track) unless @race.race_track.blank? %>
	</p>
	
	<p>
		<span class="bold"><%= t("activerecord.attributes.training.date") %>:</span><br />
		<%= @race.training.date %>
	</p>
	
	<p>
		<span class="bold"><%= t("activerecord.attributes.race.comment") %>:</span><br />
		<%= @race.comment unless @race.comment.blank? %>
	</p>
	
</div>

<%= render "comments/comments_container", :commentable => @race, :url => new_race_comment_path(@race) %>

<div class="clear_left">
	<%= link_to t("common.back"), training_path(@race.training) %>
	<% if_authorized?(action_name, @race) do %>
	 | <%= link_to "Edit", edit_race_path(@race) %>
	<% end %>
</div>