<% title "#{@race.training.date} // #{@race.event.name}"  %>
<% main_class "large_width" %>

<div class="left width_200">
	<p>
		<span class="bold">Event:</span><br />
		<%= @race.event.name %>
	</p>
	<p>
		<span class="bold">Distance:</span><br />
		<%= @race.distance %>
	</p>
	<p>
		<span class="bold">Time:</span><br />
		<%= @race.time.strftime("%H:%M:%S") unless @race.time.blank? %>
	</p>
	<p>
		<span class="bold">Max pulse:</span><br />
		<%= @race.hr_max unless @race.hr_max.blank? %>
	</p>
	<p>
		<span class="bold">Avg. pulse:</span><br />
		<%= @race.hr_avg unless @race.hr_avg.blank? %>
	</p>

	<p>
		<span class="bold">Race Track:</span><br />
		<%= link_to @race.race_track.title, track_path(@race.race_track) unless @race.race_track.blank? %>
	</p>
	
	<p>
		<span class="bold">Date:</span><br />
		<%= @race.training.date %>
	</p>
	
	<p>
		<span class="bold">Comment:</span><br />
		<%= @race.comment unless @race.comment.blank? %>
	</p>
	
</div>

<%= render "comments/comments_container", :commentable => @race, :url => new_race_comment_path(@race) %>

<div class="clear_left">
	<%= link_to "Back", training_path(@race.training) %>
	<% if_authorized?(action_name, @race) do %>
	 | <%= link_to "Edit", edit_race_path(@race) %>
	<% end %>
</div>