<% title "#{@race.training.date} // #{@race.event.name}"  %>

<h2><%= @race.training.date %></h2>

<div class="left">
	<p class="default">
		<span class="bold"><%= t("activerecord.attributes.race.event_id") %>:</span><br />
		<%= @race.event.name %>
	</p>
	<p class="default">
		<span class="bold"><%= t("activerecord.attributes.race.distance") %>:</span>
		<%= @race.distance %>
	</p>
	<p class="default">
		<span class="bold"><%= t("activerecord.attributes.race.time") %>:</span>
		<%= @race.time.strftime("%H:%M:%S") unless @race.time.blank? %>
	</p>
	<p class="default">
		<span class="bold"><%= t("races.show.time_per_km") %>:</span>
		<%= @race.time_per_km.strftime("%M:%S") unless @race.time.blank? %>
	</p>
</div>

<div class="left margin_left_large">
	<p class="default">
		<span class="bold"><%= t("activerecord.attributes.race.race_track_id") %>:</span><br />
		<%= link_to @race.race_track.title, race_track_path(@race.race_track) unless @race.race_track.blank? %>
	</p>
	<p class="default">
		<span class="bold"><%= t("activerecord.attributes.race.hr_max") %>:</span><br />
		<%= @race.hr_max unless @race.hr_max.blank? %>
	</p>
	<p class="default">
		<span class="bold"><%= t("activerecord.attributes.race.hr_avg") %>:</span><br />
		<%= @race.hr_avg unless @race.hr_avg.blank? %>
	</p>
</div>

<% unless @race.comment.blank? %>
	<p class="clear_both">
		<%= @race.comment %>
	</p>
<% end %>


<%= render "comments/comments_container", :commentable => @race, :url => new_race_comment_path(@race) %>

<div class="clear_left">
	<%= link_to t("common.back"), training_path(@race.training) %>
	<% if permitted_to? :update, @race %>
	 | <%= link_to t("common.edit"), edit_race_path(@race) %>
	<% end %>
</div>