<tr class="<%= cycle "odd", "even" %> small">
	<td><%= track_statistics.training.date.strftime("%Y-%m-%d") %></td>
	<td><%= link_to track_statistics.time.strftime("%H:%M:%S"), race_path(track_statistics) unless track_statistics.time.blank? %></td>
	<td><%= track_statistics.time_per_km.strftime("%M:%S") %></td>
	<td><%= track_statistics.hr_max %></td>
	<td><%= track_statistics.hr_avg %></td>
</tr>