<% main_class("large_width") %>

<% content_for :head do %>
	<script type="text/javascript" charset="utf-8">
		$(function(){
			var options = {yAxisTitleFirst: '<%= t("users.events.hours") %>',
						   yAxisTitleSecond: '<%= t("activerecord.attributes.race.distance") %>',
						   hours: '<%= t("users.events.hours").downcase %>',
						   km: '<%= t("users.events.km") %>'};
						
			chart.render_events(<%= @user.events.map { |e| e.name }.inspect %>,
			<%= @user.events.map { |e| @user.event_time(e) }.inspect %>,
			<%= @user.events.map { |e| @user.event_distance(e) }.inspect %>,
			options);
		});
			
	</script>
<% end %>

<div class="user_events">
	<div id="user_events_chart"></div>
</div>