<% title t("sign_up.sign_up_as_member") %>

<h1><%= t("sign_up.sign_up_as_member") %></h1>
<% @user.password = @user.password_confirmation = nil %>

<p class="default"><%= t("sign_up.do_you_have_openid") %> <%= link_to t("sign_up.login_through_openid"), login_path%></p>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<p class="default"><%= label_tag 'login', t("activerecord.attributes.user.login") %><br/>
<%= f.text_field :login %></p>

<p class="default"><%= label_tag 'email', t("activerecord.attributes.user.email") %><br/>
<%= f.text_field :email %></p>

<p class="default"><%= label_tag 'password', t("activerecord.attributes.user.password") %><br/>
<%= f.password_field :password %></p>

<p class="default"><%= label_tag 'password_confirmation', t("activerecord.attributes.user.password_confirmation") %><br/>
<%= f.password_field :password_confirmation %></p>

<p class="default"><%= submit_tag t("sign_up.sign_up"), :class => "submit" %></p>
<% end -%>
