<div class="user_race_track_statistics">
	<h2><%= link_to @race_track.title, @race_track unless  @race_track.blank? %></h2>
	<table>
		<tbody>
			<tr class="small">
				<th><%= link_to t("activerecord.attributes.training.date"), user_race_track_statistics_path(@user, @race_track, :order => order("date")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.time"), user_race_track_statistics_path(@user, @race_track, :order => order("time")), :class => "order" %></th>
				<th><%= link_to t("users.race_track_statistics.time_per_km"), user_race_track_statistics_path(@user, @race_track, :order => order("time")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.hr_max"), user_race_track_statistics_path(@user, @race_track, :order => order("hr_max")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.hr_avg"), user_race_track_statistics_path(@user, @race_track, :order => order("hr_avg")), :class => "order" %></th>
			</tr>
			<%= render :partial => "race_track_statistics", :collection => @races %>
		</tbody>
	</table>
</div>