<% title t("seo.users_show_title", :user => @user.login) %>
<% description t("seo.users_show_description") %>
<% canonical "/#{@user.to_param}" %>

<% content_for :left_side do %>
	
	<% unless @user.trainings.blank? %>
		<%= render "side_modules/recent_trainings", :user => @user %>
		<%= render "side_modules/user_trainings_stat", :user => @user %>	
	<% end %>
	
	<%= render "user_info", :user => @user %>
<% end %>

<h2><%= @user.login %></h2>

<p>
	<% if permitted_to? :update, @user %>
		<%= link_to t("users.show.edit_profile"), edit_user_path(@user) %> | 
	<% end %>
	<% if permitted_to? :create, @user.trainings %>
		<%= link_to t("users.show.new_training"), new_user_training_path(@user) %> | 
	<% end %>
	<% if permitted_to? :read, @user.trainings %>
		<%= link_to t("activerecord.models.training.other"), user_trainings_path(@user) %> |
		<%= link_to t("tracks.record"), records_user_path(@user) %> |
		<%= link_to t("users.show.training_hours"), events_user_path(@user) %>
	<% end %>
</p>

<div class="personal_bests">
	<h3><%= t("users.show.pb") %></h3>

	<table>
		<tr class="small">
			<th><%= t("trainings.show.time_html") %></th>
			<th><%= t("trainings.show.time_per_km").html_safe %></th>
			<th><%= t("activerecord.attributes.race.track_id") %></th>
		</tr>
		<% @pbs.each do |record| %>
			<tr class="<%= cycle "odd", "even", :name => "row_class" %> small">
				<td><%= link_to record.time.strftime("%H:%M:%S"), race_path(record) unless record.time.blank? %></td>
				<td><%= record.time_per_km.strftime("%M:%S") %></td>
				<td><%= link_to record.track.title, record.track unless record.track.blank? %></td>
				<td><%= link_to t("users.records.stat"), user_track_statistics_path(@user, record.track.id) %></td>
			</tr>
		<% end %>
	</table>
</div>
