<% title @user.login %>
<% main_class "small_width" %>

<% content_for :left_side do %>
	<div class="side_module">
		<h4><%= t("users.show.recent_trainings") %>:</h4>
		<table>
			<% @user.trainings.recent(2.weeks.ago).each do |training| %>
				<tr>
					<td><%= link_to training.date.strftime("%e %b - %Y"), training %></td>
					<% if_authorized?(action_name, @user) do %>
						<td class="small"><%= link_to t("common.edit"), edit_training_path(training) %></td>
						<td class="small"><%= link_to t("common.destroy"), training, :confirm => t("common.sure"), :method => :delete %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
	
	<div class="side_module">
		<p class="small">
			<span class="bold"><%= t("activerecord.attributes.user.name") %>:</span>
			<%= @user.name %>
		</p>
		
		<p class="small">
			<span class="bold"><%= t("activerecord.attributes.user.birthday_year") %>:</span>
			<%= @user.birthday_year %>
		</p>
		
		<p class="small">
			<span class="bold"><%= t("activerecord.attributes.user.gender") %>:</span>
			<%= @user.gender ? t("users.edit.female") : t("users.edit.male") unless @user.gender.nil?%>
		</p>
		
		<p class="small">
			<span class="bold"><%= t("activerecord.attributes.user.municipality_id") %>:</span>
			<%= @user.municipality.name unless @user.municipality.blank? %>
		</p>
		
		<p class="small">
			<span class="bold"><%= t("users.show.last_login") %>:</span>
			<%= @user.last_login_at.strftime("%e %b - %Y") unless @user.last_login_at.blank? %>
		</p>
	</div>
<% end %>

<h2><%= @user.login %></h2>



<p>
	<% if permitted_to? :update, @user %>
		<%= link_to t("users.show.edit_profile"), edit_user_path(@user) %> | 
	<% end %>
	<% if permitted_to? :create, @user.trainings %>
		<%= link_to t("users.show.new_training"), new_user_training_path(@user) %> | 
	<% end %>
	<% if permitted_to? :read, @user.trainings %>
		<%= link_to t("activerecord.models.training.other"), user_trainings_path(@user) %> |
		<%= link_to t("race_tracks.record"), records_user_path(@user) %>
	<% end %>
</p>



<% content_for :right_side do %>
	<% unless @user.trainings.blank? %>
		<h2>User statistics</h2>
		<% form_remote_tag :url => {:action => :statistics, :id => @user.id}, :method => :get do %>
			<p>
				<span class="bold">From:</span>
				<%= select_date (@user.trainings.first.date), {:prefix => "from"} %>
			</p>
	
			<p>
				<span class="bold">To:</span>
				<%= select_date Time.now, {:prefix => "to"} %>
			</p>
		
			<p><%= submit_tag "Update" %></p>
		<% end %>
	
		<div id="user_statistics">
			<%= render :partial => "statistics", :object => @user, :locals => {:from => @user.trainings.first.date, :to => nil} %>
		</div>
	<% end %>
<% end %>