<% main_class("large_width") %>

<% content_for :head do %>
	<%= javascript_include_tag "jquery-1.4.2.min", "users.jquery", "highcharts" %>
	
	<script type="text/javascript" charset="utf-8">
		$(function(){
			var options = {yAxisTitleFirst: '<%= t("users.track_statistics.hr") %>',
						   yAxisTitleSecond: '<%= t("activerecord.attributes.race.time") %>',
						   timeSerie: '<%= t("activerecord.attributes.race.time") %>',
						   hrMaxSerie: '<%= t("activerecord.attributes.race.hr_max") %>',
						   hrAvgSerie: '<%= t("activerecord.attributes.race.hr_avg") %>'};
						
			chart.render_track_statistics(<%= @races.map { |r| r.training.date.to_s if (!r.hr_avg.blank? && !r.hr_max.blank?) }.compact.inspect %>,
			<%= (@races.map { |r| ((r.time.to_i - Race::EPOCH) * 1000) if (!r.hr_avg.blank? && !r.hr_max.blank?) }).compact.inspect %>,
			<%= @races.map { |r| (r.hr_avg.blank? || r.hr_max.blank?) ? nil : r.hr_max }.compact.inspect %>,
			<%= @races.map { |r| (r.hr_avg.blank? || r.hr_max.blank?) ? nil : r.hr_avg }.compact.inspect %>,
			options);
		});
	</script>
<% end %>
<h2><%= link_to @track.title, @track %></h2>

<div id="user_track_statistics_chart" style="width:1000px; height:400px;"></div>

<div class="user_track_statistics">
	<table>
		<tbody>
			<tr class="small">
				<th><%= link_to t("activerecord.attributes.training.date"), user_track_statistics_path(@user, @track, :order => order("date")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.time"), user_track_statistics_path(@user, @track, :order => order("time")), :class => "order" %></th>
				<th><%= link_to t("users.track_statistics.time_per_km"), user_track_statistics_path(@user, @track, :order => order("time")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.hr_max"), user_track_statistics_path(@user, @track, :order => order("hr_max")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.hr_avg"), user_track_statistics_path(@user, @track, :order => order("hr_avg")), :class => "order" %></th>
			</tr>
			<%= render :partial => "track_statistics", :collection => @races %>
		</tbody>
	</table>
</div>