<% title t("seo.users_track_statistics_title", :user => @user.login ) %>
<% description t("seo.users_track_statistics_description") %>
<% main_class("large_width") %>

<% content_for :head do %>
	<script type="text/javascript" charset="utf-8">
		$(function(){
			var options = {yAxisTitleFirst: '<%= t("users.track_statistics.hr") %>',
						   yAxisTitleSecond: '<%= t("activerecord.attributes.race.time") %>',
						   timeSerie: '<%= t("activerecord.attributes.race.time") %>',
						   hrMaxSerie: '<%= t("activerecord.attributes.race.hr_max") %>',
						   hrAvgSerie: '<%= t("activerecord.attributes.race.hr_avg") %>'};
						
			chart.render_track_statistics(<%= @track_statistics.chart_races.map { |r| r.training.date.to_s }.inspect %>,
			<%= @track_statistics.chart_races.map { |r| ((r.time.to_i - Race::EPOCH) * 1000) }.inspect %>,
			<%= @track_statistics.chart_races.map { |r| r.hr_max }.inspect %>,
			<%= @track_statistics.chart_races.map { |r| r.hr_avg }.inspect %>,
			options);
			
			$("#slider").slider({range: true,
				max: <%= @track_statistics.chart_races_count - 1 %>,
				values: [<%= (@track_statistics.chart_races_count > 20) ? (@track_statistics.chart_races_count - 21) : 0 %>, <%= @track_statistics.chart_races_count - 1 %>],
				stop: function(event, ui) {
					var from = $(this).slider( "option", "values" )[0];
					var to = $(this).slider( "option", "values" )[1];
					$.get('/users/<%= @user.login %>/track_statistics_data/<%= @track_statistics.track.id %>?from=' + from + '&to=' + to);
				}
			});
		});
	</script>
<% end %>
<div class="user_track_statistics">
	<h2><%= link_to @track_statistics.track.title, @track_statistics.track %></h2>

	<div id="user_track_statistics_chart"></div>
	<div id="slider"></div>
	
	<table>
		<tbody>
			<tr class="small">
				<th><%= link_to t("activerecord.attributes.training.date"), user_track_statistics_path(@user, @track_statistics.track, :order => order("date")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.time"), user_track_statistics_path(@user, @track_statistics.track, :order => order("time")), :class => "order" %></th>
				<th><%= link_to t("users.track_statistics.time_per_km"), user_track_statistics_path(@user, @track_statistics.track, :order => order("time")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.hr_max"), user_track_statistics_path(@user, @track_statistics.track, :order => order("hr_max")), :class => "order" %></th>
				<th><%= link_to t("activerecord.attributes.race.hr_avg"), user_track_statistics_path(@user, @track_statistics.track, :order => order("hr_avg")), :class => "order" %></th>
			</tr>
			<%= render :partial => "track_statistics", :collection => @track_statistics.races %>
		</tbody>
	</table>
</div>
