<%= form_for @side_module do |f| %>
	<%= error_messages(@side_module) %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :content %><br />
		<%= f.text_area :content, :rows => 8 %>
	</p>
	<p>
		<%= f.label :style %><br />
		<%= f.text_area :style, :rows => 4 %>
	</p>
	<p><%= f.submit "Submit" %></p>
<% end %>
