<% unless area.nil? %>
	<div class="side_module local_tracks">
		<h5><%= t("side_modules.close_track") %></h5>
		<h3><%= area.name %></h3> <span class="small">(<%= link_to "#{t("side_modules.not_in")} #{area.name}", nil, :class => "change_local_area" %>)</span>
		<div class="area_select" style="display: none;">
			<%= select("county", "id", County.all.map {|c| [ c.name, c.id ] }, {:prompt => "#{t("common.select")} #{t("activerecord.models.county")}"}, {:class => "county"}) %>

			<%= select("municipality", "id", Municipality.all.map {|c| [ c.name, c.id ] }, {:prompt => "#{t("common.select")} #{t("activerecord.models.municipality.one")}"}, {:class => "municipality"}) %>
		</div>
		<% content_tag :ul do %>
			<% if area.tracks.blank? %>
			<% content_tag :li, :class => "small" do %>
				<%= t("home.index.no_tracks") %>
			<% end %>
			<% end %>
			<% area.tracks.each do |track| %>
				<% content_tag :li, :class => "small" do %>
					<%= link_to track.title, track_path(track), :class => "font_color" %>
				<% end %>
			<% end%>
		<% end %>
		<p class="small">
			<span class="bold"><%= t("home.index.add_track")%></span> <%= t("side_modules.your_own") %>
			<%= link_to t("activerecord.models.track.one"), new_track_path, :class => "font_color" %>
		</p>
	</div>
<% end %>