<div class="side_module user_statistics">
	<h4><%= t("users.show.statistics") %> <span class="small">(<%= t("users.show.current_month") %>)</span></h4>
	<%= link_to_one_week_ago user %> | <%= link_to_current_month user %><br />
	<%= link_to t("users.show.customize"), "", :class => "toggle_user_statistics small" %>
	<% form_remote_tag :url => {:action => :statistics, :id => user.id}, :method => :get, :html => {:style => "display:none;"} do %>
		<p>
			<span class="bold small"><%= t("common.from") %></span><br />
			<%= select_date (user.trainings.first.date), {:prefix => "from"} %>
		</p>

		<p>
			<span class="bold small"><%= t("common.to") %></span><br />
			<%= select_date Time.now, {:prefix => "to"} %>
		</p>

		<p><%= submit_tag t("common.send"), :class => "submit" %></p>
	<% end %>

	<div>
		<%= render :partial => "statistics", :object => user, :locals => {:from => Date.civil(Date.today.year, Date.today.month, 1), :to => nil} %>
	</div>
</div>