<% form_for @county do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :numeric_code %><br />
    <%= f.text_field :numeric_code %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
