<% title "Counties" %>

<table>
	<tr>
		<th>Name</th>
		<th>Code</th>
		<th>Numeric Code</th>
	</tr>
	<% for county in @counties %>
		<tr>
			<td><%=h county.name %></td>
			<td><%=h county.code %></td>
			<td><%=h county.numeric_code %></td>
			<td><%= link_to "Show", county %></td>
			<% if permitted_to? :update, county %>
				<td><%= link_to "Edit", edit_county_path(county) %></td>
			<% end %>
			<% if permitted_to? :destroy, county %>
				<td><%= link_to "Destroy", county, :confirm => 'Are you sure?', :method => :delete %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<% if permitted_to? :create, County.new %>
	<p><%= link_to "New County", new_county_path %></p>
<% end %>