<% main_class "small_width" %>

<% content_for :left_side do %>
	<%= render "side_modules/beta" %>

	<%= render "side_modules/recent_records", :object => @recent_records %>
	
	<%= render "side_modules/last_race", :object => @last_race %>
<% end %>

<div>
	<div class="premiere">
		<div>
			<h1>Välkommen!</h1>
			<h2>Premiär 28 mars</h2>
		</div>
		<div>
			<p class="bold">Gör din träning roligare med Come And Get Me</p>
			<p><%= link_to "Läs mer här", static_path(:om), :class => "small" %></p>
			<%= button_to "#{t("header.sign_up")}", signup_path, :method => "get", :class => "submit" %>
		</div>
	</div>
</div>


<% content_for :right_side do %>
	<%= render "side_modules/local_race_tracks", :area => @area %>
<% end %>