<% main_class "small_width" %>

<% content_for :left_side do %>
	<%= render "side_modules/recent_records", :object => @recent_records, :title => t("side_modules.recent_records") %>
	
	<%= render "side_modules/last_race", :object => @last_race %>
<% end %>

<% unless @index_page.blank? %>
	<%= render_html_content @index_page %>
<% end %>

<% if permitted_to? :update, @index_page %>
	<p>
		<%= link_to "Edit", edit_page_path(@index_page) %>
	</p>
<% end %>


<% content_for :right_side do %>
	<%= render "side_modules/local_tracks", :area => @area %>
<% end %>