<% title @page.title + " - #{t("seo.default_title")}" %>
<% main_class "small_width page" %>

<h1><%=h @page.title %></h1>

<%= render_html_content @page %>

<% if permitted_to? :manage, @page %>
	<p>
		<%= link_to "Edit", edit_page_path(@page) %> |
		<%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
		<%= link_to "View All", pages_path %>
	</p>
<% end %>

<% content_for :right_side do %>
	<%= render "side_modules/local_tracks", :area => @area %>
<% end %>