<% form_for @municipality do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :county %><br />
    <%= f.text_field :county %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
