<% form_for @menu_node do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :url %><br />
		<%= f.text_field :url %>
	</p>
	<p>
		<%= f.label :side_module_regex %><br />
		<%= f.text_field :side_module_regex %>
	</p>
	<p>
		<%= f.label :position %><br />
		<%= f.text_field :position %>
	</p>
	<p>
		<%= f.label :parent_id %><br />
		<%= f.collection_select :parent_id, MenuNode.roots, :id, :title, :include_blank => true %>
	</p>
	<p>
		<%= f.label :viewable %>
		<%= f.check_box :viewable %>
	</p>
	
	<div>
		<% f.fields_for :menu_node_side_modules do |builder| %>
			<%= render "menu_node_side_module_fields", :f => builder %>
		<% end  %>
		<p><%= link_to_add_fields "Add side module", f, :menu_node_side_modules %></p>
		
	</div>
	
	<p><%= f.submit "Submit" %></p>
<% end %>
