<div class="header">
	<%= link_to image_tag("logo.png"), root_path %>
	<%= content_tag :div, :id => "authentication_info" do %>
		<% if logged_in? %>
			<span class="bold"><%= link_to (h current_user.login), member_path(current_user) %></span> | <%= link_to t("header.logout"), logout_path %>
		<% else %>
			<%= link_to t("header.login"), login_path %> <%= t("header.or") %>
			<%= link_to t("header.sign_up"), signup_path %>
		<% end %>
	<% end %>
</div>
<%= render "/application/menu" %>