<% content_tag :div, :class => "menu_container" do %>
	
	<% content_tag :ul, :id => "menu" do %>
		<li><%= link_to t("header.menu.home"), root_path %></li>
		<li><%= link_to t("header.menu.race_tracks"), race_tracks_path %></li>
		<li><%= link_to t("header.menu.tracks"), tracks_path %></li>
		<li><%= link_to t("header.menu.users"), users_path %></li>
		<li><%= link_to t("footer.manual"), static_path(:manual) %></li>
	<% end %>
	
<% end %>