<%= form_for(@image, :html => {:multipart => true}) do |f| %>
  <%= error_messages(@image) %>
	
	<p>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :image %><br />
		<%= f.file_field :image %>
	</p>
	<p>
		<%= f.submit 'Create' %>
	</p>
<% end %>