<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<title><%= h(yield(:title) || t("common.title")) %></title>
		<%= stylesheet_link_tag :all %>
		<%= stylesheet_link_tag :rambo %>
		<%= javascript_include_tag :rambo %>
		<%= yield(:head) %>
	</head>
	<body>
		<%= render "application/no_more_ie6" %>
		
		<%= render "/application/admin_menu" %>
		<div id="container">
			<%= render "/application/header" %>
			
			
			<%= render :partial => "/application/side_modules", :object => "left_side", :locals => {:after_side_content => @current_menu_node.menu_node_side_modules.left_after, :side_module_class => "left_side"} %>
			
			<% content_tag :div, :class => "#{"left_side" if @content_for_left_side.blank? } #{(@class || "medium_width")}" do %>
				<%- flash.each do |name, msg| -%>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<%- end -%>
				
				<%= yield %>
			<% end %>
			
			<%= render :partial => "/application/side_modules", :object => "right_side", :locals => {:after_side_content => @current_menu_node.menu_node_side_modules.right_after, :side_module_class => ""} %>
			
			<%= render "/application/footer" %>
    	</div>
		<%= render "/application/google_analytics" %>
	</body>
</html>