<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<title><%= h(yield(:title) || t("common.title")) %></title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :rambo %>
		<%= yield(:head) %>
	</head>
	<body>
		<%= render "application/no_more_ie6" %>
		
		<%= render "/application/admin_menu" %>
		<div id="container">
			<%= render "/application/header" %>
			
			<% unless @content_for_left_side.blank?  %>
				<% content_tag :div, :class => "xsmall_width left_side" do %>
					<%= yield(:left_side) %>
				<% end %>
			<% end %>
			
			<% content_tag :div, :class =>   "#{"left_side" if @content_for_left_side.blank? } #{(@class || "medium_width")}" do %>
				<%- flash.each do |name, msg| -%>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<%- end -%>
				
				<%= yield %>
			<% end %>
			
			<% unless @content_for_right_side.blank?  %>
				<% content_tag :div, :class => "xsmall_width right_side" do %>
					<%= yield(:right_side) %>
				<% end %>
			<% end %>
			
			<%= render "/application/footer" %>
    	</div>
	</body>
</html>